* {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    /*  suavização do texto claro no background escuro.
        Funciona apenas no MacOs (com o webkit ou o moz)
    */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}